In [2]:
sun = 'up'
if sun == 'down' :
    print('GOOD NIGHT!')
if sun != 'down' :
    print('GOOD DAY')
print('TEST')

GOOD DAY
TEST

In [3]:
import datetime as dt
now = dt.datetime.now()
if now.hour < 12:
    print('GOOD MORNING')
elif 17 > now.hour > 12:
    print('GOOD AFTERNOON')
elif 24 > now.hour > 17:
    print('GOOD NIGHT')

In [4]:
subtotal = 100
sales_tax_rate = 0.05
taxable = True
if taxable :
    print(f'Subtotal: £{subtotal : .2f}')
    sales_tax = subtotal * sales_tax_rate
    print(f'Sales Tax: £{sales_tax : .1f}')
    total = subtotal + sales_tax
    print(f'Total : £{total : .0f}')
if not taxable :
    print(f'Total : £{subtotal : .0f}')

Subtotal: £ 100.00
Sales Tax: £ 5.0
Total : £ 105

In [5]:
for x in range(8):
    print(x)
print('All Done!')

0
1
2
3
4
5
6
7
All Done!

In [21]:
###Book 2, Chapter 4###
people = {
    'ppatel' : 'Priti Patel',
    'hjackson' : 'Henry Jackson',
    'bjohnson' : 'Boris Johnson'
}
print (people)
people.update({'hjackson' : 'Henrietta Jackson'})
people.update({'bsmith' : 'Belinda Smith'})
print (people)
for person in people.keys():
    print(person + ' = ' + people[person])
for person in people:
    print(people[person])
del people['ppatel']
print (people)

{'ppatel': 'Priti Patel', 'hjackson': 'Henry Jackson', 'bjohnson': 'Boris Johnson'}
{'ppatel': 'Priti Patel', 'hjackson': 'Henrietta Jackson', 'bjohnson': 'Boris Johnson', 'bsmith': 'Belinda Smith'}
ppatel = Priti Patel
hjackson = Henrietta Jackson
bjohnson = Boris Johnson
bsmith = Belinda Smith
Priti Patel
Henrietta Jackson
Boris Johnson
Belinda Smith
{'hjackson': 'Henrietta Jackson', 'bjohnson': 'Boris Johnson', 'bsmith': 'Belinda Smith'}

In [70]:
cars = {
    'TSL' : {'name' : 'Tesla', 'price' : 150000, 'models' : ['Roadster', 'Cybertruck']},
    'PSH' : {'name' : 'Porsche', 'price' : 100000, 'models' : ['Cayenne', '911']},
    'LMG' : {'name' : 'Lambourgini', 'price' : 220000, 'models' : ['Big', 'Small']}
}
print(f"{'ID' : <6} {'Name':<17} {'Price':>5} {'Models':>13}")
print('- ' * 30)
for car in cars.keys():
      ID = car
      name = cars[car]['name']
      unit_price = '£' + f"{cars[car]['price']:,.2f}"
      models = ' '
      for m in cars[car]['models']:
          models += m + ', '
      if len(models) > 2:
          models = models[:-2]
      else:
          models="<none>"
      print(f"{ID:<6} {name:<17} {unit_price:>8} {models}")

ID     Name              Price        Models
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
TSL    Tesla             £150,000.00  Roadster, Cybertruck
PSH    Porsche           £100,000.00  Cayenne, 911
LMG    Lambourgini       £220,000.00  Big, Small